/* Regra @charset caso haja problemas com acentuação.*/
@charset "UTF-8";


/* --- FORMATAÇÃO BODY --- */
body {
    background-color: #96eebd;
    margin: 0px;
}

/* --- FORMATAÇÃO HEADER --- */
@font-face {
    font-family: 'Droid';
    src: url('idroid.otf') format('opentype');
}

header {
    margin: 0px;
    background-color: #2fdd7e;
    background-image: linear-gradient(to top, #0c8543, #8dd3ac);
    height: 200px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.37);
}

header > h1 {
    margin: 0px;
    padding-top: 25px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.3em;
    font-weight: lighter;
    color: aliceblue;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.596);

}

header > p {
    text-align: center;
    font-size: 20px;
    color: rgb(224, 227, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.651);
}



header > nav > a {
    text-decoration: none;
    padding-right: 8px;
    padding-left: 8px;
    font-weight: bold;
    font-family: sans-serif;
    color: aliceblue;
}

header > nav > a:hover {
    background-color: aliceblue;
    padding: 8px;
    color: #0c8543;
}

#links-cabecalho{
    padding: 15px 25px 0px 10px;
    
}

/* --- FORMATAÇÃO DO MAIN --- */
main {
    background-color: aliceblue;
    width: 830px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.466);
}

.titulo-artigo {
    font-family: 'Droid';
    color: #0c8543;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.493);
    font-size: 1.5em;
    margin-top: 0px;
    padding: 15px 15px 0px 15px;
}

.titulo-secundario {
    font-family: 'Droid';
    color: #0c8543;
    font-size: 1.3em;
    margin-top:  0px;
    padding: 10px 10px 10px 10px;
    background-image: linear-gradient(to right, #7bf8b3, #ffffff);
    
}

.imagens {
    margin: auto;
    display: block;
    width: auto;
}

.texto {
    padding: 0px 10px 10px 10px;
    text-align: justify;
    text-indent: 20px;
}

.marcacao-verde {
    color: #0c8543;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #0c8543;
    font-weight: bold;
}

.player {
    background-color: #0c8543;
    padding: auto;
}

.video {
    display: block;
    margin: auto;
}

/* --- Sessão de links --- */
.titulo-auxiliar {
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    
}

#topico{
    border-radius: 10px 10px 0px 0px;
    background-color: #0ab356;
}

#sessao-links {
    background-color: #8cf3ba;
    border-radius: 0px 0px 10px 10px;
}

.texto-sessao {
    margin-top: 0px;
    padding: 10px;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 66, 66);
    font-weight: 600;
}

.tabela {
    display: inline-block;
    margin-right: 100px;
    padding: 0px 70px;
}

#sessao-tabela{
    display: block;
}

.main {
    border-radius: 0px 0px 10px 10px;
}

li > a{
    color: black;
    font-weight: normal;
}

li > a:hover {
    color: aliceblue;
}

footer {
    background-color: #0c8543;
}

footer > p {
    text-align: center;
    padding: 5px;
    color: aliceblue;
    font-weight: bold;
}



