<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos Guanabara</title>
    <style>
        body {
            background-color: rgb(37, 37, 37);
            text-align: center;
        }

    </style>
</head>
<body>

    <ul type="none">
        <li><h1 style="color: aliceblue;">Videos legais para assistir</h1></li>
        <li><a href="video1.html" target="_self" rel="next"><img src="../img/thumb-html.png" alt=""></a>
            <a href="video2.html" target="_self" rel="next"><img src="../img/thumb-js.png"></a></li>
        <li><a href="video3.html" target="_self" rel="next"><img src="../img/thumb-hardware.png"></a>
            <a href="video4.html" target="_self" rel="next"><img src="../img/thumb-python.png"></a></li>
    </ul>
        

</body>
</html>